* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

button,
input {
  font-family: inherit;
}

canvas {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

img {
  display: block;
  border: none;
}

svg {
  display: block;
}

[data-pressed] {
  background: #fff3;
}

[data-focused] {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
